<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blarg</title>
</head>
<body>

    <h1>
        blarg
    </h1>


    <h2>Create a post: </h2>

    <form class="form" method="POST">
        <label for="nickname">Nickname: </label>
        <input type="text" name="nickname" maxlength="30"> <br>
        <label for="post">Post: </label>
        <input type="textarea" name="post"> <br>
        <button type="submit">Submit</button>
    </form>



</body>

</html>